// _global.scss
@import "properties";

html {
  font-family: $font-family;
  color: $primary-color;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.section {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  &--small {
    max-width: 400px;
  }

  &--medium {
    max-width: 620px;
  }

  &--large {
    max-width: 1000px;
  }
}

.button {
  display: inline-block;
  background-color: $secondary-color;
  padding: 18px 25px;
  color: $primary-color;
  text-decoration: none;
  transition: .2s;

  &:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: 0 5px 10px rgba($secondary-color, 0.5);
  }

  &--secondary {
    background-color: $primary-color;
    color: $secondary-color;

    &:hover {
      box-shadow: 0 5px 10px rgba($primary-color, 0.5);
    }
  }

  &--success {
    background-color: $success-color;

    &:hover {
      background-color: lighten($success-color, 20%);
    }
  }

  &--fail {
    background-color: $fail-color;

    &:hover {
      background-color: lighten($fail-color, 20%);
    }
  }

  &--info {
    background-color: $info-color;

    &:hover {
      background-color: lighten($info-color, 20%);
    }
  }
}
