doctype html
html
  head
    meta(charset='utf-8')
    title Hvor sitter du?
    meta(name='description', content='Hvor sitter du a? Finner deg ikke?')
    link(rel='stylesheet', href='css/style.css', media='screen')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(type='text/javascript', src='js/jquery.mlens-1.6.js')
    script(type='text/javascript', src='js/script.js')
    meta(property='og:title', content='Hvor sitter du?')
    meta(property='og:image', content='img/salen-big.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')
    link(rel='apple-touch-icon', href='img/touch-icon.png')
    link(rel='apple-touch-startup-image', href='img/salen-big.png')
  body
    <?php
      
